/* CSS */

/* Icon gradient color */
#mygradient stop.start-color {
  stop-color: {{app_config['icon-gradient-start-color']}};
}

#mygradient stop.end-color {
  stop-color: {{app_config['icon-gradient-end-color']}};
}


* {
  box-sizing: border-box;
}

.bookmarks-container {
  display: flex;
  flex-direction: row;
}

.bookmark-item {
  display: flex;
  flex-direction: row;
  color: {{app_config['bookmark-text-color']}};
  text-decoration: none;
  min-height: 30px;
  max-height: 30px;
  border-radius: 5px;
  padding: 0px;
  background-color: {{app_config['bookmark-background-color']}};
  margin: 5px;
  flex: 20%;
  transition: transform 0.3s ease-in-out;

}

.bookmark-icon-background {
  background-color: {{app_config['bookmark-icon-background-color']}};

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
 
}

.bookmark-icon {
  
  align-items: center;
  justify-items: center;

  float: left;
  width: 20px;
  height: 20px;

}

.bookmark-title {
  margin: auto;
  margin-left: 10px;
  flex: 1;
  font-size: 1rem;
}



.bookmark-container {

  a {
    text-decoration: none;
    
  }
  
  display: flex;
  flex: 20%;
  flex-direction: column;
}

.service-container {
  display: flex;
  flex-direction: row;

  text-align: center;
  flex-wrap: wrap;
  
}

a {
  text-decoration: none;
  
}

.service-card {
  color: {{app_config['service-text-color']}};
  text-decoration: none;
  display: flex;
  min-height: 70px;


  /* You can change the online green color and side here */
  border-radius: {{app_config['service-card-border-radius']}}px;
  
  border-top: none;
  border-left: none;
    
  border-bottom: none;
  padding: 15px;
 
  background-color: {{app_config['service-card-background-color']}};
  margin: 10px;
  flex: calc(80% / {{app_config["max-items-per-row"]}});
  transition: transform 0.3s ease-in-out;
 
 
}

.service-icon {
  float: left;
  width: 35px;
  height: 35px;
}



.player-icon {
 
  float: right;
  width: 35px;
  margin-left: auto;
 
}


.service-card-titles {
  
 margin-left: 50px;
 text-align: left;
  height: 40px;
 
 display: flex;
  justify-content: center;
 flex-direction: column;
}



.service-card-title {
  flex: 1;
  font-size: .875rem;
}

.service-card-subtitle {
  flex: 1;
    font-size: .75rem;  
}
.service-card:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}




/* inter related css */

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }


/* search box styling*/

.search {
    width: 100%;
    position: relative;
    display: flex;
    
  }
  
  .searchTerm {
    width: 100%;
    border: 1px solid {{app_config['search-border-color']}};
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px;
    height: 40px;
    outline: none;
    color: {{app_config['search-text-color']}};
    background-color: {{app_config['search-background-color']}};
  }
  
  .searchTerm:focus{
    color: {{app_config['search-focused-color']}};
  }
 
/* theming */

body {
    background-color: {{app_config['main-background-color']}};
    
    color: {{app_config['main-text-color']}};
}

.main-container {
  width: 80%;
  margin: auto;
 
}


/* Placeholder SVG for the icon gradient */
svg {
  fill: url(#mygradient);
}

/* Mobile tweaks */
@media (max-width: 800px) {
  .service-container {
    flex-direction: column;
  }
  .bookmarks-container {
    flex-direction: column;
  }
  .main-container {
    width: 100%;
    margin: none;
   
  }
}

