/* CSS */

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

:root{
  font-family:Inter,sans-serif;
  font-feature-settings:'liga' 1,'calt' 1
}
@supports (font-variation-settings:normal){
  :root{
      font-family:InterVariable,sans-serif
  }
}
body{
  background-color:#21242b;
  color:#d6d0ce
}

svg{
  fill:url(#mygradient)
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100rem;
}


.services-container{

  margin:auto;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap
}
.service-item-container{
  padding-left: 1rem;
  padding-right: 1rem;
  min-height:5rem;
  color:#d6d0ce;
  background-color:#282c34;
  display:flex;
  flex-direction:row;
  margin:0.625rem ;
  align-items:center;
  border-radius:5px;
  flex:calc(80% / 4);
}

.service-item-container:hover{
  background-color: #2b2e35;
}

.service-item{
  margin-right:0.313rem;
  display:flex;
  flex-direction:column
  
}
.service-subitem{
  display:flex;
  flex-grow:1;
  margin-bottom: 4px;
  flex-direction:column
}
.service-icon{  
  margin-right:1rem;
  height:2.5rem;
  width:2.5rem
}
.service-title{
  font-size:1rem
}
.service-subtitle{
  font-size:.75rem
}

.service-status-title{
  font-size:.85rem
}

.service-status-right{
  margin-left:auto;
  margin-right: 1rem;
}

.service-status{
  margin-bottom: 4px;
  margin-left:auto;
  margin-right:auto
}

/* Mobile tweaks */
@media (max-width: 1024px) {

.service-container {
flex-direction: column;
}

.services-container {
flex-direction: column;
width: 100%;
margin: none;
}

.bookmarks-container {
flex-direction: column;
}

}



/* Icon gradient color */
#mygradient stop.start-color {
  stop-color: {{app_config['icon-gradient-start-color']}};
}

#mygradient stop.end-color {
  stop-color: {{app_config['icon-gradient-end-color']}};
}


* {
  box-sizing: border-box;
}

.bookmarks-container {
  display: flex;
  flex-direction: row;
}

.bookmark-item {
  display: flex;
  flex-direction: row;
  color: {{app_config['bookmark-text-color']}};
  text-decoration: none;
  min-height: 30px;
  max-height: 30px;
  border-radius: 5px;
  padding: 0px;
  background-color: {{app_config['bookmark-background-color']}};
  margin: 5px;
  flex: 20%;
  transition: transform 0.3s ease-in-out;

}

.bookmark-icon-background {
  background-color: {{app_config['bookmark-icon-background-color']}};

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
 
}

.bookmark-icon {
  
  align-items: center;
  justify-items: center;

  float: left;
  width: 20px;
  height: 20px;

}

.bookmark-title {
  margin: auto;
  margin-left: 10px;
  flex: 1;
  font-size: 1rem;
}



.bookmark-container {

  a {
    text-decoration: none;
    
  }
  
  display: flex;
  flex: 20%;
  flex-direction: column;
}

.service-container {
  display: flex;
  flex-direction: row;

  text-align: center;
  flex-wrap: wrap;
  
}

a {
  text-decoration: none;
  
}





/* search box styling*/

.search {
    width: 100%;
    position: relative;
    display: flex;
    
  }
  
  .searchTerm {
    width: 100%;
    border: 1px solid {{app_config['search-border-color']}};
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px;
    height: 40px;
    outline: none;
    color: {{app_config['search-text-color']}};
    background-color: {{app_config['search-background-color']}};
  }
  
  .searchTerm:focus{
    color: {{app_config['search-focused-color']}};
  }
 
/* theming */
