<html>
  
<head>
    <title>Rime 0.2.0</title>
   <link href="static/themes/default.css" rel="stylesheet"> 
   <link rel="stylesheet" href="static/fonts/inter.css">
   <meta name="viewport" content="width=device-width,initial-scale=1"/>

   {% for plugin in enabled_plugins %}
   {%- include "plugins/"+ plugin +"/includes.html" ignore missing -%}
   {% endfor %}

   {% for category in config %}
{% for service in config[category] %}
{%- include "plugins/"+ config[category][service]['plugin'] +"/plugin_head.html" ignore missing -%}
{% endfor %}
{% endfor %}

</head>
<body>
  <!-- Firefox SVG rendering hack  !-->
  <script>0</script>
  

    <svg width="0" height="0">
        <defs>
          <linearGradient id="mygradient">
            <stop offset="0" class="start-color"/>
            <stop offset="1" class="end-color"/>
          </linearGradient>
        </defs>
      </svg>
    <div class="main-container">
        <form action="https://google.com/search" method="get">
        <div class="search">
            
            <input id="searchTerm" type="text" class="searchTerm" name="q" placeholder="Search...">
            <input type="submit" style="display: none;">
         </div>
        </form>
  
        {% for category in config %}
            <h1>{{ category }}</h1>
            <div class="service-container">
              <!-- Loop services!! !-->
               {% for service in config[category] %}
               {%- include "plugins/"+ config[category][service]['plugin'] +"/plugin_widget.html" -%}
               {% endfor %}
            
            </div>
        {% endfor %}

<!---
     bookmark div here!!!
      -->

          </div>
    </div>

</body>
<script>
        searchTerm.addEventListener(`focus`, () => searchTerm.select());

</script>
{% for category in config %}
{% for service in config[category] %}
{%- include "plugins/"+ config[category][service]['plugin'] +"/plugin_footer.html" -%}
{% endfor %}
{% endfor %}

</html>
