<html></html>
<head>
    <title>{{ config['config']['page_title'] }}</title>
   <link href="static/themes/default.css" rel="stylesheet"> 
   <link rel="stylesheet" href="static/fonts/inter.css">

</head>
<body>
    <svg width="0" height="0">
        <defs>
          <linearGradient id="mygradient">
            <stop offset="0" class="start-color"/>
            <stop offset="1" class="end-color"/>
          </linearGradient>
        </defs>
      </svg>
    <div class="main-container">
        <form action="https://google.com/search" method="get">
        <div class="search">
            
            <input id="searchTerm" type="text" class="searchTerm" name="q" placeholder="Search...">
            <input type="submit" style="display: none;">
         </div>
        </form>
  
        {% for service_category in config['services'] %}
            <h1>{{ service_category}}</h1>
            <div class="service-container">
            {% for service in config['services'][service_category] %}
                
            <a href="{{ config['services'][service_category][service]['url']}}" class="service-card" style="border-right: 2px solid {{ config['services'][service_category][service]['current_color']}};">
                
                <div class="service-card-wrapper" >
                    <div class="service-icon">
                        {%- include "icons/"+ config['services'][service_category][service]['icon'] +".svg" ignore missing -%}
                    </div>
                
                    <div class="service-card-titles">
                        <div class="service-card-title">{{ config['services'][service_category][service]['name']}}</div>
                        <div class="service-card-subtitle">{{ config['services'][service_category][service]['subtitle']}}</div>
                    </div>
                </div>
            </a>
            {% endfor %}
            </div>
        {% endfor %}
          </div>
    </div>

    
<div class="container">
    <div class="bottomright"><a class="footer-link" href="https://github.com/binboupan/rime">Rime ({{version}})</a> </div></div>
  </div>
    
</body>
<script>
        searchTerm.addEventListener(`focus`, () => searchTerm.select());

</script>
</html>
