<html>
  
<head>
    <title>{{app_config["title"]}}</title>
<link id="favicon" rel="icon" type="image/x-icon" href="static/favicon.ico">  
   <style>
    {% include 'default.css' %}
   </style>

   <link rel="stylesheet" href="static/fonts/inter.css">
   <link rel="stylesheet" href="static/css/materialdesignicons.min.css">
   <meta name="viewport" content="width=device-width,initial-scale=1"/>

   {% for plugin in enabled_plugins %}
   {%- include "plugins/"+ plugin +"/includes.html" ignore missing -%}
   {% endfor %}

   {% for category in config %}
{% for service in config[category] %}
{%- include "plugins/"+ config[category][service]['plugin'] +"/plugin_head.html" ignore missing -%}
{% endfor %}
{% endfor %}

</head>
<body>
  <!-- Firefox SVG rendering hack  !-->
  <script>0</script>
  

    <svg width="0" height="0">
        <defs>
          <linearGradient id="mygradient">
            <stop offset="0" class="start-color"/>
            <stop offset="1" class="end-color"/>
          </linearGradient>
        </defs>
      </svg>
    <div class="main-container">
        <form action="https://google.com/search" method="get">
        <div class="search">
            
            <input id="searchTerm" type="text" class="searchTerm" name="q" placeholder="Search...">
            <input type="submit" style="display: none;">
         </div>
        </form>
        {% if app_config["alert-text"] != "" %}
        <div class="alert {{app_config["alert-type"]}}">
          <span class="closebtn">&times;</span>  
          <strong>{{app_config["alert-text"]}}</strong> 
        </div>
        {% endif %}

        {% for category in config %}
        <div class="service-category-title"><h1>{{ category }}</h1></div>
            <div class="services-container">
              
              <!-- Loop services!! !-->
               {% for service in config[category] %}
               {%- include "plugins/"+ config[category][service]['plugin'] +"/plugin_widget.html" -%}
               {% endfor %}
            
            </div>
        {% endfor %}

        <div class="services-container" style="margin-bottom: 2rem;">
          {% for bookmark_category in bookmarks %}
          
            <div class="bookmark-container">
              <h1>{{bookmark_category}}</h1>
              {% for bookmark in bookmarks[bookmark_category]%}
              <a class="bookmark-item" href="{{bookmarks[bookmark_category][bookmark]['url']}}">
                <div class="bookmark-icon-background">
                <div class="bookmark-icon">
                  {%- include "icons/"+ bookmarks[bookmark_category][bookmark]['icon'] +".svg" ignore missing -%}
              </div>
            </div>
                <div class="bookmark-title">
                  {{bookmarks[bookmark_category][bookmark]['name']}}
                </div>
              </a>
              {% endfor %}
             
            </div>
            
            {% endfor %}

        </div>

          </div>
    </div>

</body>
<script>
        searchTerm.addEventListener(`focus`, () => searchTerm.select());

</script>
{% for category in config %}
{% for service in config[category] %}
{%- include "plugins/"+ config[category][service]['plugin'] +"/plugin_footer.html" -%}
{% endfor %}
{% endfor %}

</html>
