Services:
    github:
        plugin: website
        name: "Github"
        subtitle: "Developer Platform"
        url: "https://github.com"
        ping_url: "https://github.com"
        interval: 60
        icon: "simple-icons/github"
    pihole:
        plugin: pihole
        name: "Pi-hole"
        api-key: ""
        subtitle: "Ad Blocker"
        url: "https://pi.hole"
        interval: 60
        icon: "simple-icons/pihole"
    adguardhome:
        plugin: adguardhome
        name: "Adguard Home"
        subtitle: "Ad Blocker"
        # api key is based64 of username:password
        api-key: "base64 string"
        url: "https://adguard"
        interval: 60
        icon: "simple-icons/adguard"
    jellyfin:
        plugin: jellyfin
        api-key: "apikey"
        name: "Jellyfin"
        subtitle: "Movie Server"
        url: "https://jellyfin"
        interval: 60
        icon: "simple-icons/jellyfin"
    qbittorrent:
        plugin: qbittorrent
        # api key is based64 of username:password
        api-key: ""
        name: "qBitTorrent"
        subtitle: "BitTorrent Client"
        url: "https://qbittorrent"
        interval: 60
        icon: "simple-icons/qbittorrent"

Second Category:
    radio:
        plugin: icecast
        name: "Radio Station"
        icon: "simple-icons/podcastindex"
        url: "https://dsmrad.io/stream/isics-all"
