<html></html>
<head>
    <title>Rime</title>
   <link href="static/themes/{{theme}}.css" rel="stylesheet"> 
   <link rel="stylesheet" href="static/fonts/inter.css">

</head>
<body>
    <div class="main-container">
        <form action="https://google.com/search" method="get">
        <div class="search">
            
            <input type="text" class="searchTerm" name="q" placeholder="Search...">
            <input type="submit" style="display: none;">
         </div>
        </form>
        <h1>Good afternoon!</h1>
        
    </div>
    
</body>
</html>